:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  background-color: var(--white);
  font-family: "Roboto";
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

/* Small Text */
.small_text {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}
.medium_text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/* Button Text */
.button_text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Reset */
.link {
  text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

div {
  display: block;
}
/* Header */

.header .container {
  display: flex;
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  justify-content: space-between;
}
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Top Page */

.page-nav {
  display: flex;
  align-items: center;
  margin-right: 120px;
}
.pages.link {
  padding: 24px 0;
}

.logo-span {
  color: var(--navy-blue);
}
.header-logotype {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 0;
  /* display: flex; */
  margin-right: 120px;
}
.logotype {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-list {
  display: flex;
  gap: 40px;
  position: relative;
}

.header-list-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-list-a {
  color: var(--navy-blue);
  padding: 24px 0;
}

.current {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  display: block;
  width: 100%;
}

.header-list-a:hover,
.header-list-a:focus {
  color: var(--ocean);
}

/* Address */

.header-address {
  display: flex;
  align-items: center;
}
.address-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.address-list-item {
  display: flex;
}

.address-link {
  color: var(--slate, #434455);
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* Main content */
/* 1 Section */
.first-part {
  max-width: 1440px;
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  padding: 188px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.header-top {
  color: var(--white, #fff);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  max-width: 320px;
  margin: 0 auto 48px auto;
}

.orders {
  color: var(--white, #fff);
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  border: none;
  height: 56px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.orders:hover,
.orders:focus {
  background-color: var(--ocean);
  color: var(--white);
}
/* 2 Section */
.second-part {
  padding: 96px 0;
}

.second-part-icon {
}

.second-part-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.second-part-list-item {
  /* width: calc((100% - 3 * 24px) / 4); */
  position: relative;
}
.container-second-part-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud);
  position: relative;
  padding: 24px 100px;
  border-radius: 4px;
  margin-bottom: 8px;
  display: none;
}
.second-part-subtitle {
  text-align: center;
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.second-part-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* 3 Section */

.third-part {
  padding-bottom: 120px;
}

.third-part-title {
  color: var(--navy-blue);
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;

  margin-bottom: 72px;
}

.third-part-list {
  display: flex;

  gap: 24px;
}

.third-part-list-item {
}

/* 4 Section */
.our-team {
  background-color: var(--cloud);
  padding: 96px 0;
}
.our-team .container {
}
.our-team-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.our-team-list-item {
  display: inline-flex;
  width: 100%;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.our-team-subtitle {
  color: var(--navy-blue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-team-text {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-container {
  padding: 32px 0;
  display: flex;
  max-width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-list-icon-team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-list-icon-ftr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-icon-container .social-item-icon {
  width: 40px;
  height: 40px;
}

.social-links {
  display: flex;
  fill: var(--cloud);
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  background-color: var(--ocean, #404bbf);
}

.footer-icon-container .social-links:hover,
.footer-icon-container .social-links:focus {
  background-color: var(--green, #31d0aa);
}

.card-icons {
  fill: var(--cloud);
}

/* 5 Section Customers */
.customers {
  padding: 96px 0;
}

.customers-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customers-list-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-icons {
  fill: currentColor;
}

.customers-icons:hover,
.customers-icons:focus {
  color: var(--ocean, #404bbf);
  border-color: currentColor;
}

/* Footer */

.ftr-page {
  background: var(--navy-blue);
  padding: 96px 0;
}
.ftr-page .logotype {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
  padding: 0;
}
.ftr-page .logo-span {
  color: var(--cloud);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0;
}
.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-ftr-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}
.footer-icon-text {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-heading {
  color: var(--cloud, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 268px;
}

.social-icon {
  display: inline;
  align-items: center;
}
.social-icon .list {
}

.footer-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Modal Footer */
.modal-container-ftr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-container-ftr-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  display: block;
}

.modal-frm-ftr {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.modal-input-ftr {
  display: block;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
}

.modal-input-ftr::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.modal-btn-submit-ftr {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 8px 24px;
  display: block;
  width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.modal-icon-ftr {
  margin-left: 16px;
}
/* Portfolio */
.portfol {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfol-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}
.portfol-list-item {
  margin-left: 16px;
}

.portfol-button {
  border: 1px solid var(--cornflower, #e7e9fc);
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);

  color: var(--iris, #4d5ae5);
  text-align: center;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  padding: 12px 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfol-button:hover,
.portfol-button:active,
.portfol-button:focus {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfol-list-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.list-item-portfolio {
  width: calc((100% - 48px) / 3);
}
.portfol-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
}

.link-portfolio {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-portfolio-link:hover,
.list-item-portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-image-portfol {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  color: var(--cloud, #f4f4fd);
  background: var(--iris, #4d5ae5);
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-portfolio:hover .overlay,
.link-portfolio:focus .overlay {
  transform: translateY(0);
}
.portfol-subtitle {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfol-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Script button */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  display: block;
  width: 284px;
  margin: 96px auto;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background: var(--dairy);
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 16px 16px;

}

.open-modal:hover {
  opacity: 0.8;
}

.close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  fill: var(--navy-blue);
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  fill: var(--white);
  background-color: var(--ocean);
  border: none;
}

.modal-close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0%);
}

.no-scroll {
  overflow: hidden;
}


/* Modal window */

.modal-title {
  max-width: 360px;
  margin-bottom: 16px;
  text-align: center;
  color: var(--navy-blue);
}


.modal-input {
  max-width: 360px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--navyblue, rgba(46, 47, 66, 0.4));
  padding-left: 38px;
  padding-right: 24px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--iris);
}
.modal-input:focus + .modal-icon {
  fill: var(--iris);
}

.text-name {
  color: var(--light-slate, #8e8f99);
}

.modal-btn-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 8px;
}
.modal-field.modal-field-comment {
  margin-bottom: 16px;
}
.modal-field.modal-field-checkbox {
  margin-bottom: 24px;
}
.modal-label {
  color: var(--light-slate, #8e8f99);
  font-size: 12px;
  display: inline-block;
  margin-bottom: 4px;
  line-height: 1.17;
  display: block;
}

.modal-icon {
  color: var(--navy-blue);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
  position: relative;
}

.modal-comment {
  width: 100%;
  height: 120px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--navyblue, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--slate);

  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  resize: none;
}

.modal-comment:focus {
  border-color: var(--iris);
}

.modal-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-span-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input:checked + .modal-checkbox .modal-span-checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.modal-checkbox-link {
  color: var(--iris);
  display: inline-block;
}

/*!------- Mobile menu -----------*/

.mobile-menu-icon {
  stroke: #2e2f42;
  fill: transparent;
}

.menu-container{

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    background-color: var(--white);
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;

}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-open {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  right: 16px;
  top: 24px;
}

.mobile-menu-close {
  position: absolute;
  padding: 0;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  fill: var(--grey);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 10%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-navigation-link {
  color: var(--grey);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.mobile-navigation-link:hover,
.mobile-navigation-link:focus {
  color: var(--ocean);
}

.closemodal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-current {
  color: var(--ocean);
}

.mobile-address-list {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.mobile-address {
  margin-bottom: 48px;
}

.mobile-address-phone {
  color: var(--iris);
  font-size: 25px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-style: normal;
}

.mobile-address-mail {
  color: var(--slate);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
}
.socialmedia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialmedia-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.socialmedia-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}